.form {
  width: auto;
  padding: 127px 121px 128px 132px;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: $desktop-width) {
    padding: 119px 52px 119px 68px;
    min-width: 480px;
  }

  @media (max-width: $pre-desktop-width) {
    padding: 64px 44px;
    order: 2;
  }

  @media (max-width: $tablet-width) {
    padding: 33px 16px 64px;
    min-width: 320px;
  }
}

.form h1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: $black;
  margin: 0 0 23px;

  @media (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 20px;
  }

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 16px;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    padding-right: 20px;
  }
}

.form p {
  margin: 0 0 6px;

  @media (max-width: $desktop-width) {
    margin: 0 0 2px;
  }

  @media (max-width: $pre-desktop-width) {
    font-size: 14px;
    line-height: 20px;
    padding-right: 40px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 0;
    margin-bottom: 4px;
  }
}

.form__element {
  margin-bottom: 17px;

  @media (max-width: $tablet-width) {
  margin-bottom: 7px;
  }
}

.form__element:hover {
  background-color: $hover-gray;
}

.form__element input{
  width: 100%;
  border: none;
  border-bottom: 1px solid $extra-light-gray;
  padding: 13px 0;
  color: $light-gray;
  position: relative;
  background-color: transparent;

  @media (max-width: $tablet-width) {
    padding: 3px 0 3px;
    font-size: 14px;
    line-height: 20px;
  }
}

.form__element input::placeholder {
  @media (max-width: $tablet-width) {
    opacity: 0;
  }
}

.form__element input:focus, .form__element input:active, .form__element input:hover {
  outline: none;
  color: $black;
  border-bottom: 1px solid transparent;
}

.form__element input:focus-within {
  background-color: $hover-gray;
}

.form__element input::before {
  @media (max-width: $tablet-width) {
    content: "Имя";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: $black;
    height: 40px;
    width: 20px;
  }
}

.form__element label {
  @media (max-width: $tablet-width) {
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    border: none;
    padding: 0;
    white-space: nowrap;
    clip-path: none;
    clip: auto;
    overflow: visible;
    font-size: 12px;
    line-height: 20px;
  }
}

.form__checkbox {
  padding-left: 24px;
  margin-bottom: 23px;

  @media (max-width: $tablet-width) {
    margin-bottom: 18px;
  }
}

.form__checkbox label {
  position: relative;
  color: $black;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }
}

.form__checkbox input+label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -24px;
  width: 16px;
  height: 16px;
  border-radius: 0;
  border: 1px solid $black;
  opacity: 0.32;
}

.form__checkbox input:checked+label::before {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/svg/checkbox.svg");
  opacity: 0.32;
}

.form__checkbox input:focus+label:before {
  outline: thin dotted;
  outline: 5px auto  $black;
  opacity: 1;
}

.form__checkbox:hover input:checked+label::before, .form__checkbox:hover input+label::before, .form__checkbox:active input+label::before{
  opacity: 1;
}

.form__button {
  text-align: center;
  background-color: $white;
  border: 2px solid $button-color;
  border-radius: 842.105px;
  padding: 13px 23px;
  width: max-content;
  margin-bottom: 32px;

  @media (max-width: $pre-desktop-width) {
    margin-bottom: 16px;
  }

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    padding: 8px 22px;
  }
}

.form__button:hover, .form__button:focus {
  border: 2px solid $black;
}

.form__button:active {
  color: $light-gray;
}

.form__confidentiality {
  font-size: 10px;
  line-height: 16px;
  padding-right: 20px;

  @media (max-width: $desktop-width) {
    padding-right: 40px;
  }

  @media (max-width: $pre-desktop-width) {
    padding-right: 0px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 40px;
  }
}

.form__confidentiality a {
  color: $light-gray;
  border-bottom: 1px solid $light-gray;
}

.form__confidentiality a:focus, .form__confidentiality a:hover {
  outline: none;
  color: $black;
  border-bottom: 1px solid $black;
}

.form__confidentiality a:active {
  outline: none;
  color: $extra-light-gray;
  border-bottom: 1px solid $extra-light-gray;
}
