@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    local("Open-Regular"),
    url("../fonts/open-sans-400.woff2") format("woff2"),
    url("../fonts/open-sans-400.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
